#albumWrapper {
  color: #fff;
  padding-inline: 0;
  margin-bottom: 0;
}

#albumInfoWrapper {
  padding-inline: 30px;
  background-color: #505050;
}

#albumInfoWrapper h1 {
  font-size: 4.5vw;
  font-weight: 900;
}

#albumInfoWrapper h2 {
  font-size: 0.9vw;
  margin: 0px;
  font-weight: 400;
}

#albumInfoWrapper #artistPicture {
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.45);

  width: 24px;
  height: 24px;
  border-radius: 50%;
}

#albumInfoWrapper span,
#albumInfoWrapper a {
  margin-inline-start: 0.5rem;
}

#albumInfoWrapper a {
  color: inherit;
}

#albumInfoWrapper span:nth-last-child(1) {
  color: rgb(183, 183, 183);
}

#mediaButtonsWrapper {
  padding-inline: 30px;
  height: 100px;
}

#mediaButtonsWrapper .play-button {
  background-color: #1ed760;
  border-radius: 500px;
  height: 56px;
  width: 56px;
  margin-inline-end: 32px;
}

#mediaButtonsWrapper #likeButton {
  margin-inline-end: 32px;
}

#musicTableWrapper .row.sticky-top {
  top: 80px;
  height: 28px;
  border-bottom: solid 0.5px rgba(158, 158, 158, 0.815);
}

#musicTableWrapper .row {
  padding-inline: 60px;
  height: 55px;
}

.songRow a {
  color: inherit;
}

.songTitle {
  color: #fff;
}

.songRow:hover a {
  color: #fff;
}
