#footer {
  background-color: #121212;
}

#footer .socialLinks a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #292929;
  border-radius: 50%;
}

#footer .socialLinks a:hover {
  background-color: #727272;
  cursor: default;
}

#footer {
  padding-inline: 30px;
}

#footer span {
  font-weight: 700;
  color: #fff;
}

#footer span:nth-last-child(1) {
  font-weight: 400;
  color: #a6a6a6;
}

#footer a:not(.socialLinks a) {
  color: #a6a6a6;
  width: max-content;
}

#footer a:hover {
  color: #fff;
}

.footerLegal {
  border-top: solid 0.3px rgba(245, 245, 245, 0.226);
  padding-top: 3rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.footerLegal a {
  text-decoration: none;
}

#footer .footerLegal a:hover {
  color: #fff;
}
