footer {
  background-color: #191919;
  border-top: 1px solid #282828;
  margin: 0;
  padding: 0 16px;
  height: 91px;
  min-width: 620px;
}

footer h6 {
  font-size: 14px;
  margin-bottom: 0;
}

footer span {
  font-size: 11px;
}

footer path {
  fill: #a7a7a7;
}

footer .btn-transparent {
  width: 32px;
  height: 32px;
}

footer .btn-transparent:hover > svg > path {
  fill: white;
}

#dislikeButton path {
  fill: #1bd760;
}
