footer {
  background-color: #181818;
  border-top: 1px solid #282828;
  margin: 0;
  padding: 0 16px;
  height: 91px;
  min-width: 620px;
}

footer h6 {
  font-size: 14px;
  margin-bottom: 0;
}

footer span {
  font-size: 11px;
}

footer path {
  fill: #a7a7a7;
}

footer .btn-transparent {
  width: 32px;
  height: 32px;
}

footer .btn-transparent:hover > svg > path {
  fill: white;
}
.play {
  margin-inline: 16px;
}
.play-button-footer {
  background-color: white;
  border-radius: 500px;
  height: 32px;
  width: 32px;
}

.play-button-footer path {
  fill: black;
}

.play-button-footer:hover {
  scale: 1.04;
}
.buttonbar {
  margin-bottom: 8px;
}
.progress {
  height: 4px !important;
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 2px;
  margin-inline: 8px;
}
.curDur,
.maxDur {
  font-size: 0.6875rem;
  font-weight: 400;
  width: 28px;
}
.w-40 {
  width: 40%;
}
.w-30 {
  width: 30%;
}

.volume {
  flex: 0 1 125px;
  margin-right: 4px;
  align-items: center;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  height: 4px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    white 0%,
    white 50%,
    hsla(0, 0%, 100%, 0.3) 50%,
    hsla(0, 0%, 100%, 0.3) 100%
  );
  border-radius: 2px; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* thumb */
/* Chrome */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 500px;
  background: white;
  opacity: 0;
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
  opacity: 1;
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 500px;
  background: white;
}

/* IE */
input[type="range"]::-ms-thumb {
  height: 12px;
  width: 12px;
  border-radius: 500px;
  background: white;
}

#dislikeButton path {
  fill: #1bd760;
}
