@font-face {
  font-family: circular;
  src: url("../src/assets/fonts/circular/CircularStd-Book.otf")
    format("opentype");
}

html {
  background-color: #121212;
}

#root {
  background-color: #121212;
  color: #a7a7a7;
  font-family: circular;
  line-height: 1.6;
}

.bg-black {
  background-color: black;
}

.sidebar-fix {
  margin-left: 241px;
}
